/* Clases menú */
.logotipo {
  margin: 0 auto;
  width: 200px;
}

.logo {
  width: 200px;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.contenido {
  width: 100%;
  max-width: 100%;
}

.nav-tag {
  margin: 0 10px;
}
/* Clases menú */

/* Clases Home */
.col-reduce {
  padding-left: 5px;
  padding-right: 5px;
}

.card {
  width: 100%;
  margin-top: 30px;
}

/* Sirve para asignar el valor específico para tamaños
inferiores de pantalla de 570px col-12 */
@media (max-width: 570px) {
  .card {
    width: 70%;
    margin: 5px auto;
  }
}
/* Clases Home */

h1, h2, h3 {
  margin-top: 30px;
  text-align: center;
}

hr {
  width: 60%;
}

.social {
  width: 70%;
  max-width: 60%;
}

.footer {
  margin-top: 20px;
  width: 100%;
  max-width: 100%;
  padding-top: 40px;
  height: 100px;
  background-color: black;
}

.footer p {
  text-align: center;
  color: white;
}
